



<div id="welcome" style="text-align:center; font-size: 50px;">
    <span class="welcome1">Welcome to TravelBudget App</span>
    <span class="welcome2"style="display: block; font-size: 35px;">Log in or register your account to begin your journey!</span>
</div>
