@using TravelBudget.ViewModels.Statistics;
@model StatisticsViewModel

<head>
    <link rel="stylesheet" href="~/css/Statistics-View.css" asp-append-version="true" />
</head>
<div class="body-statistics">
    <div class="record-container">

        <div class="box" id="box1">
            <partial name="_StatisticsDataDisplay", model="@Model.TheMostExpensiveTravel"></partial>
        </div>

        <div class="box" id="box2">
            <partial name="_StatisticsDataDisplay", model="@Model.TheCheapestTravel"></partial>
        </div>

        <div class="box" id="box3">
            <partial name="_StatisticsDataDisplay", model="@Model.TheLongestTravel"></partial>
        </div>

        <div class="box" id="box4">
            <partial name="_StatisticsDataDisplay", model="@Model.TheShortestTravel"></partial>
        </div>
    </div>
</div>
