
* {
    list-style: none; /*powoduje usuniêcie wszystkich "bullet points" które defaultowo s¹ dodawane do tagu (<ul>) lub (<ol>).
        Usuwa równie¿ tzn. list markery z tagu typu (<li>)*/
    box-sizing: border-box; /*This style means that when you set the width and height of an element,
        any padding or border added to it will not cause it to expand beyond those specified dimensions.*/
    font-family: 'Sans Serif Collection';
}
/*<-------------------- Table section -------------------->*/
#container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*#table {
    border-collapse: collapse;
    max-width: 100%;
    min-width: 90%;
    background-color: white;
    animation: fadeIn 10s ease;
    border: 5px;
}*/

/*<-------------------- Menu button section -------------------->*/
#button-containerAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    animation: fadeIn 10s ease;
}
.MenuButton {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
[data-record-id] {
    position: relative;
    background: white;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 5px;
}
[data-record-id]:hover {
    letter-spacing: 0.06em;
    background: darkgoldenrod;
    box-shadow: 0 0 30px; /*darkgoldenrod; kolor cienia po najechaniu na przycisk*/
    color: darkgoldenrod; /*kolor liter po najechaniu na przycisk*/
}
[data-record-id]:before {
    position: absolute;
    inset: 2px;
    content: '';
    background: black;
}
a span {
    position: relative;
    z-index: 1;
}
/*<---------------------- Additional styles for better look ----------------------->*/

/*<-------------------- Table section -------------------->*/
#table {
    width: 100%; /* 100% szerokoœci tabeli */
    margin-top: 10px; /* Dodaj margines na górze i na dole tabeli */
    background-color: darkgoldenrod; /* Kolor t³a tabeli */
    animation: fadeIn 10s ease;
    border: 2px solid darkgoldenrod;
}
/*th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}*/

/* Dostosuj style dla nag³ówków (th) */
th {
    background-color: black; /* Kolor t³a nag³ówków */
    color: darkgoldenrod; /* Kolor tekstu w nag³ówkach */
    font-weight: bold; /* Pogrubienie tekstu w nag³ówkach */
    padding: 10px; /* Wielkoœæ wewnêtrznego marginesu nag³ówków */
    text-align: center;
}

td {
    background-color: white; /* Kolor t³a komórek */
    color: black; /* Kolor tekstu w komórkach */
    padding: 8px;
    text-align: center;;
}

th, td {
    border: 2px solid darkgoldenrod;
    padding: 8px;
    text-align: center;
}


