
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sans Serif Collection';
}
/*<-------------------- Table section -------------------->*/
#container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
/*<-------------------- Table section -------------------->*/
#table {
    border-collapse: collapse;
    border: 3px solid darkgoldenrod;
    width: 100%;
    margin-top: 10px;
    background-color: darkgoldenrod;
    animation: fadeIn 10s ease;
}

th {
    background-color: black;
    color: darkgoldenrod;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

td {
    background-color: white;
    color: black;
    padding: 8px;
    text-align: center;
}

th, td {
    border: 3px solid darkgoldenrod;
    padding: 8px;
    text-align: center;
}

/*<-------------------- Menu button section -------------------->*/
#button-containerAdd {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    animation: fadeIn 10s ease;
/*    margin-right: 5px;*/
}
.MenuButton {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium'/*, 'Arial Narrow', Arial, sans-serif*/;
}
[data-record-id] {
    position: relative;
    background: white;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border: 3px solid black;
    border-radius: 5px;
}
[data-record-id]:hover {
    letter-spacing: 0.06em;
    background: darkgoldenrod;
    box-shadow: 0 0 30px; 
    color: darkgoldenrod; 
}
[data-record-id]:before {
    position: absolute;
    inset: 2px;
    content: '';
    background: black;
}
a span {
    position: relative;
    z-index: 1;
}
/*<-------------------- Delete button section -------------------->*/
[data-record-id-delete] {
    position: relative;
    background: white;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border: 3px solid black;
    border-radius: 5px;
}

    [data-record-id-delete]:hover {
        letter-spacing: 0.06em;
        background-color: darkgoldenrod;
        box-shadow: 1px 1px 30px;
        color: rgb(183, 8, 8);
    }

    [data-record-id-delete]:before {
        position: absolute;
        inset: 2px;
        content: '';
        color: black;
        background: black;
    }
/*<---------------------- Additional styles for better look ----------------------->*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


