
* {
    list-style: none; /*powoduje usuniêcie wszystkich "bullet points" które defaultowo s¹ dodawane do tagu (<ul>) lub (<ol>). Usuwa równie¿ tzn. 
        list markery z tagu typu (<li>)*/
    box-sizing: border-box; /*This style means that when you set the width and height of an element, any padding or border added to it will not cause it to expand beyond those specified dimensions.*/
    font-family: 'Sans Serif Collection'; /*ustawia domyœln¹ czcionkê.*/
    overflow: hidden;
}

#table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: central;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table {
    border-collapse: collapse;
    max-width: 100%;
    min-width: 90%;
    background-color: white;
    animation: fadeIn 10s ease;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
/*<-------------------- Add button section -------------------->*/
.button-containerAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    animation: fadeIn 10s ease;
}
.AddButton {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
[data-record-id] {
    position: relative;
    background: white;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.5s;
    border: 2px solid black;
    border-radius: 5px;
}
[data-record-id]:hover {
    letter-spacing: 0.06em;
    background: darkgoldenrod;
    box-shadow: 0 0 30px darkgoldenrod;
    color: darkgoldenrod;
}
[data-record-id]:before {
    position: absolute;
    inset: 2px;
    content: '';
    background: black;
}
a span {
    position: relative;
    z-index: 1;
}


