
/*<-------------------- Global section -------------------->*/
*{
    margin:0;
    box-sizing: border-box;
}
/*<-------------------- Main section -------------------->*/
#Body-Management {
    max-height: 100vh;
    overflow-y: auto;
}
/*<-------------------- Title section -------------------->*/
#ManagementTitle {
    color: darkgoldenrod;
    text-align: center;
    animation: fadeIn 2s ease;
    padding-top: 10px;
}
/*<--------------------------- Add Category Form --------------------------->*/
#M_label_1-add-category {
    display: flex;
    flex-direction: row;
    margin: 0;
    color: darkgoldenrod;
    animation: fadeIn 2s ease;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
}
.form-control-category::placeholder {
    color: darkgray;
    text-indent: 10px;
}
/*<--------------------------- Delete Category Form --------------------------->*/
.delete-title,
.category-drop-down {
    display: inline-block;
}
#M_label_1-delete-category {
    margin: 0;
    color: darkgoldenrod;
    animation: fadeIn 2s ease;
    padding-bottom: 0;
}
.category-drop-down {
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    background-color: black;
    color: darkgray;
    text-align: center;
}
.category-drop-down:hover{
    box-shadow: 0px 0px 10px 5px darkgoldenrod;
    border: 2px solid white;
    transition: 0.8s;
    color: darkgoldenrod;
}
.form-control-category {
    border: 2px solid darkgoldenrod;
    border-radius: 8px;
    background-color: black;
    color: darkgray;
    cursor: pointer;
    height: 35px;
    text-align: center;
}
.form-control-category:hover{
    color: darkgoldenrod;
}
.delete-title {
    color: darkgoldenrod;
    height: 35px;
    font-size: 24px;
    padding-right: 10px;
}
.form-outline {
    padding-left: 30px;
    padding-right: 50px;
    height: 100px;
}
/*.custom-label {
    text-align: center;
}*/
/*<-------------------- Management buttons section -------------------->*/
.management-button-section {
    padding-left: 16px;
    animation: fadeIn 8s ease;
}
#save-button {
    border: 2.5px solid darkgoldenrod;
    background-color: black;
    color: darkgoldenrod;
    width: 70px;
    height: 34px;
    font-size: 17px;
    border-radius: 10px;
}
#save-button:hover {
     box-shadow: 0px 0px 8px 5px darkgoldenrod;
     transition: 0.8s;
     border: 2.5px solid white;
}
#delete-button {
    border: 2.5px solid darkgoldenrod;
    background-color: black;
    color: darkgoldenrod;
    width: 70px;
    height: 34px;
    font-size: 17px;
    border-radius: 10px;
}
#delete-button:hover {
     box-shadow: 0px 0px 8px 5px darkgoldenrod;
     transition: 0.8s;
     border: 2.5px solid white;
}
/*<-------------------- Animation section -------------------->*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
