html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.header {
    background-color: rgb(195, 168, 38);
}

body {
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.custom-btn:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-btn {
    border-radius: 25%;
    transition: box-shadow 0.5s;
    border-color: white;
    position: fixed;
    margin-right: 20px;
    top: 15px;
    right: 20px;
}

.logo-title {
    text-align: center;
    font-size: 40px;
    vertical-align: middle;
    text-shadow: 3px 3px 5px rgb(114, 23, 186), -4px -4px 5px rgb(90, 228, 186);
}

.logo-image {
    border-radius: 8px;
    max-width: 100px;
    vertical-align: middle;
}

.container-text {
    background-color: floralwhite;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 25px;
}

.content {
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: changeBackground 60s infinite;
}

@keyframes changeBackground {

    10%, 100% {
        background-image: url(/images/HomePage/canyon.jpg);
    }
    25% {
        background-image: url(/images/HomePage/boat-4899802.jpg);
    }
    35% {
        background-image: url(/images/HomePage/alberta-mountains.jpg);
    }
    55% {
        background-image: url(/images/HomePage/Fuji.jpg);
    }
    67% {
        background-image: url(/images/HomePage/rough-horn.jpg);
    }
    80% {
        background-image: url(/images/HomePage/mountains-sunset.jpg);
    }
    99% {
        background-image: url(/images/HomePage/river-night.jpg);
    }
}



