/*<-------------------- Global section -------------------->*/
* {
    list-style: none; 

    box-sizing: border-box; 

    font-family: 'Sans Serif Collection';
}
/*<-------------------- Main section -------------------->*/
/*.body-statistics {

}*/
.record-container {
    max-height: auto;
    overflow-y: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 20px;
    /* flex-wrap: wrap;*/
}
.container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
    max-height: auto;
    background-color: black;
}
.box {
    max-width: auto;
    max-height: auto;
}
/*<-------------------- Table section -------------------->*/
#table {
    border: 3px solid darkgoldenrod;
    width: 100%;
    background-color: darkgoldenrod;
    animation: fadeIn 10s ease;
    border-radius: 5px;
}
.title {
    font-size: 20px;
    color: rgb(111, 111, 111);
}

th {
    background-color: black;
    color: darkgoldenrod;
    font-weight: bold;
    padding: 10px;
}

td {
    background-color: white;
    color: black;
    padding: 8px;
}

th, td {
    border: 3px solid darkgoldenrod;
    padding: 8px;
    text-align: center;
}
.table-foot {
    border: 3px solid darkgoldenrod;
    text-align: center;
    font-size: 18px;    
}
.foot-row {
    font-weight: bold;
    background-color: black;
    color: rgb(111, 111, 111);
}
.summary-tabel {
    color:darkgoldenrod;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



