
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sans Serif Collection';
/*    overflow: hidden;*/
}

/*<-------------------- Navbar section -------------------->*/
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;
}
.navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}
.navbar .logo {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}
.navbar .logo img {
    float: left;
    border-radius: 8px 8px 8px 8px;
    width: 160px;
    height: 80px;
    padding-left: 10px;
}
    .navbar .logo h2 {
        font-size: 45px;
    }
    .navbar .links {
        display: flex;
        list-style: none;
        gap: 30px;
    }
    .navbar .links a {
        text-decoration: none;
        font-size: 27px;
        color: white;
        white-space: nowrap;
    }
    .navbar .links a:hover {
        transition: 0.7s;
        color: darkgoldenrod;
        text-shadow: 10px 10px 10px darkgoldenrod;
        text-shadow: -15px -15px -15px darkgoldenrod;
    }
        /*<-------------------- Log out Button section -------------------->*/
    .button-container {
        padding-left: 3px;
        padding-right: 3px;
    }

    #buttonLi {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 4px;
        padding-right: 30px;
    }

    #Mybutton {
        border-radius: 25%;
        border-width: 1.5px;
        transition: box-shadow 0.5s;
        border-color: black;
        background-color: black;
        width: 60px;
        height: 60px;
    }

    #Mybutton:hover svg path {
        color: darkgoldenrod;
        transition: 1s;
    }

    #Mybutton:hover svg path {
        fill: darkgoldenrod; 
/*        box-shadow: 5px 5px 5px 5px darkgoldenrod;*/
    }
/*<-------------------- Main Grids -------------------->*/
    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        min-height: 100vh;
        /*width: auto;*/
    }

    .main-section {
        flex: 1;
        justify-content: center;
        padding: 0;
        margin: 0;
        /*background-image: url('/images/pexels-stephan-seeber-1261728.jpg');*/
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
    }

    #myVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 1080px;
    }

    .sidebar {
        flex: 1;
        justify-content: center;
        background-color: black;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    #title {
        color: darkgoldenrod;
        text-align: center;
        animation: fadeIn 4s ease;
        padding-top: 10px;
    }
    /*<-------------------- Footer section -------------------->*/
    .footer {
        background-color: black;
        font-size: 15px;
        color: white;
        text-align: center;
        padding-top: 0;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }

/*<-------------------- Pup-ups notifications section -------------------->*/
    #toast-container > .toast-success {
        background-color: green;
        color: white;
    }
    .horizontal-line {
        height: 3px;
        border: 1px solid gray;
        margin: 10px 0;
    }

