
    * {
        margin: 0; 
        padding: 0; 
        list-style: none; 
        box-sizing: border-box;
        font-family: 'Sans Serif Collection';
    }
/*<-------------------- Navigation bar section -------------------->*/
    nav {
        display: flex;
        background: black;
        width: 100%;
        height: 70px;
        border-bottom: 2px solid white;
    }
    .right-content {
        display: flex;
        float: right;
        padding-right: 40px; 
        align-items: center;
    }
    #return-link {
        text-decoration: none;
        font-size: 22px;
        cursor: pointer;
        color: white;
    }
    #return-link:hover {
        transition: 0.7s; 
        color: darkgoldenrod;
        text-shadow: 10px 10px 10px darkgoldenrod;
        text-shadow: -15px -15px -15px darkgoldenrod;
    }
/*<-------------------- Title section -------------------->*/
    .title {
        flex: 1;
        color: darkgoldenrod; 
        font-size: 40px;
        animation: fadeIn 2s ease;
        text-align: center;
        padding-left: 108px;
        vertical-align: central;
    }
    .title1 {
        color: darkgoldenrod; 
        font-size: 31px;
        animation: fadeIn 2s ease;
        text-align: center;
        padding-bottom: 10px;
    }
/*<-------------------- Body section -------------------->*/
    body {
        background-color: black;
    }
    /*<-------------------- Table section -------------------->*/
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px; 
        animation: fadeIn 10s ease;
        border: 2px solid darkgoldenrod;
    }
    th {
        background-color: black;
        color: darkgoldenrod; 
        font-weight: bold; 
        padding: 10px; 
    }
    td {
        background-color: white; 
        color: black; 
    }
    th, td {
        padding: 8px;
        text-align: center;
        border: 2px solid darkgoldenrod;
    }
    .return-link {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .return-link:hover {
        box-shadow: 0px 0px 5px 4px darkgoldenrod;
        transition: 0.7s;
    }
/*<-------------------- Menu button section -------------------->*/
    #button-containerAdd {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 15px;
        cursor: pointer;
        animation: fadeIn 10s ease;
    }
    .MenuButton {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    [data-record-id] {
        position: relative;
        background: white;
        color: white;
        text-decoration: none;
        padding: 10px 30px;
        border: 2px solid black;
        border-radius: 5px;
    }

    [data-record-id]:hover {
        letter-spacing: 0.06em;
        background: darkgoldenrod;
        box-shadow: 0 0 30px; 
        color: darkgoldenrod; 
    }
    [data-record-id]:before {
        position: absolute;
        inset: 2px;
        content: '';
        background: black;
    }
    a span {
        position: relative;
        z-index: 1;
    }
/*<-------------------- Delete button section -------------------->*/

    [data-record-id-delete] {
        position: relative;
        background: white;
        color: white;
        text-decoration: none;
        padding: 10px 30px;
        border: 2px solid black;
        border-radius: 5px;
    }
    [data-record-id-delete]:hover {
        letter-spacing: 0.06em;
        background-color: darkgoldenrod;
        box-shadow: 1px 1px 30px; 
        color: rgb(183, 8, 8); 
    }
    [data-record-id-delete]:before {
        position: absolute;
        inset: 2px;
        content: '';
        color: black;
        background: black;
    }
        a span {
        position: relative;
        z-index: 1;
    }
/*<---------------------- Additional styles for better look ----------------------->*/

/*<-------------------- Animation section -------------------->*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}
#toast-container > .toast-success {
    background-color: green;
    color: white;
}

