
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sans Serif Collection';
/*    overflow: hidden;*/
}


/*<-------------------- Navbar section -------------------->*/
nav {
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100px ;
    width: 100%;
    border-bottom: 2px solid white;
}
nav .logo-redirection {
    display: flex;
    justify-content: flex-start;
}
.logo-redirection {
    display: inline-block;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-left: 6px;
    text-decoration: none;
}
.logo-redirection img {
    border-radius: 8px 8px 8px 8px;
    width: 160px;
    height: 90px;
    cursor: pointer;
    font-size: 70px;
}
.logo-text {
    font-size: 42px;
    cursor: pointer;
    display: inline;
    color: white;
}
nav .menu-container {
    display: flex;
    justify-content: flex-end;
}
.menu-container {
    flex: 1;
}
.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
}
ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    white-space: nowrap;
}
    ul li a:hover {
        transition: 0.7s;
        color: darkgoldenrod;
        text-shadow: 0 -3px 7px darkgoldenrod,
                     0 -8px 14px darkgoldenrod,
                     0 -10px 24px darkgoldenrod;
        text-shadow: 0 5px -10px darkgoldenrod,
                     0 -8px -14px darkgoldenrod,
                     0 10px -24px darkgoldenrod;
    }
.hamburger-container {
/*    flex: 2;*/
    float: right;
    margin-right: 20px;
    flex-direction: column;
    display: none;
    cursor: pointer;
/*    transform: translateY(-50%);*/
/*    border: 2px solid red;
    width: auto;
    height: auto;*/
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: darkgoldenrod;
}

@media (max-width: 1445px) {

    .hamburger-container {
        display: block;
    }
    .hamburger-container.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-container.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger-container.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .list-container {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
        padding-top: 10px;
    }
    .nav-item {
        margin: 10px 0;
    }
    .list-container.active {
        left: 0;
    }
/*    nav .hamburger-container {
        display: flex;
        justify-content: flex-end;
    }*/

}
    /*<-------------------- Unrolling Navbar section -------------------->*/
    /*<-------------------- Log out Button section -------------------->*/
/*    .button-container {
    padding-left: 3px;
    padding-right: 3px;
}*/

    #buttonLi {
        display: flex;
        justify-content: flex-end;
        align-items: center;
/*        padding-top: 4px;
        padding-right: 30px;*/
    }

    #Mybutton {
        border-radius: 25%;
        border-width: 1.5px;
        transition: box-shadow 0.5s;
        border-color: black;
        background-color: black;
        width: 60px;
        height: 60px;
    }

    #Mybutton:hover svg path {
        color: darkgoldenrod;
        transition: 1s;
    }

    #Mybutton:hover svg path {
        fill: darkgoldenrod; 
/*        box-shadow: 5px 5px 5px 5px darkgoldenrod;*/
    }
/*<-------------------- Main Grids -------------------->*/
    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        min-height: 100vh;
        /*width: auto;*/
    }

    .main-section {
        flex: 1;
        justify-content: center;
        padding: 0;
        margin: 0;
        /*background-image: url('/images/pexels-stephan-seeber-1261728.jpg');*/
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
    }

    #myVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 1080px;
    }

    .sidebar {
        flex: 1;
        justify-content: center;
        background-color: black;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    #title {
        color: darkgoldenrod;
        text-align: center;
        animation: fadeIn 4s ease;
        padding-top: 10px;
    }
    /*<-------------------- Footer section -------------------->*/
    .footer {
        background-color: black;
        font-size: 15px;
        color: white;
        text-align: center;
        padding-top: 0;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }

/*<-------------------- Pup-ups notifications section -------------------->*/
    #toast-container > .toast-success {
        background-color: green;
        color: white;
    }
    .horizontal-line {
        height: 3px;
        border: 1px solid gray;
        margin: 10px 0;
    }

