<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/TravelsHistory-View.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelBudget.styles.css" asp-append-version="true" />
</head>
<body class="content">
    <nav>
        <h1 id="h1">Travels History</h1>
    </nav>
    <span style="background-color: red">
        <a href="~/Travel/Index" class="centered">
            <img class="icon" src="/images/return-icon.jpg">
        </a>
    </span>
    <div class="separation-bar"></div>
 </body>       
 <body>
    <div class="container">
        <main role="main" class="pb-300">
            @RenderBody()
        </main>
    </div>
</body>
</html>
