@model Travel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/TravelsCreate-View.css" asp-append-version="true" />
</head>

<body id="Body-create">
<div class="container-create">
<form method="post">
    <div class="row pb-2">
        <h2 id="CreateTitle">Create Travel</h2>
    </div>
            <div class="form-outline mb-2" id="label_0" hidden>
                <input asp-for="Id" class=form-control autocomplete="off"/>
            </div>
        <div class="form-outline mb-2" id="label_1">
             <label asp-for="Name" class="form-label" style="font-size:20px"></label>
             <input asp-for="Name" class=form-control autocomplete="off"/>
            </div>
        <div class="form-outline mb-2" id="label_2">
             <label asp-for="Description" class="form-label" style="font-size:20px"></label>
             <input asp-for="Description" class=form-control autocomplete="off" />
            </div>
        <div class="form-outline mb-2" id="label_3">
             <label asp-for="StartingDate" class="form-label" style="font-size:20px"></label>
             <input asp-for="StartingDate" class=form-control/>             
        </div>
        <div class="form-outline mb-2" id="label_4">
             <label asp-for="FinishDate" class="form-label" style="font-size:20px"></label>
             <input asp-for="FinishDate" class=form-control/>             
        </div>
            <div class="form-outline mb-2" id="label_5">
                <input asp-for="Active" class="form-check-input custom-buttom" type="checkbox" id="activeCheckbox">
                <label asp-for="Active" class="form-check-label custom-label" for="activeCheckbox" style="font-size: 20px">Active</label>
            </div>
            <li class="create-buttonSection"><button id="create-button" type="submit" class="btn btn-warning btn-lg"> @(Model.Id != 0 ? "Update" : "Create") </button></li>
</form>
</div>
</body>