@model TravelBudget.Models.TravelViewModel

@{
    // Layout = "~/TravelBudget/Views/Shared/_Layout.cshtml ";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Create-View.css" asp-append-version="true" />
</head>
<body>
    
    <div class="button-containerAdd">
        <a id="a1" herf="#"><span class="AddButton">Add Expense</span> <i></i></a>
    </div>
</body>
</html>
