<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Budget</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-------- CSS Links -------->
    <link rel="stylesheet" href="~/css/Normalizer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TravelBudget_MainPage.css" />
    <link rel="icon" type="image/jpg" href="\images\Logo\Compass.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    @* <link rel="stylesheet" href="~/css/Index-View.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <a class="logo-redirection" href="@Url.Action("Index", "Travel", new { active = true })">
                <img class="logo-image" src="/images/Logo/Compass.jpg" alt="logo" />
                <h2><span class="logo-text">TravelBudget</span></h2>
            </a>
            <div class="hamburger-container">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="menu-container">
                <ul class="list-container">
                    <li class="nav-item">
                        <a href="#">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Management</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"> Create&nbsp;Travel </a>
                    </li>
                    <li class="nav-item">
                        <a href="#"> Current&nbsp;Travels </a>
                    </li>
                    <li class="nav-item">
                        <a href="#"> Travels&nbsp;History </a>
                    </li>
                    <li class="login-btn" id="buttonLi">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Welcome", new { area = "" })" method="post">
                            <button type="submit" class="btn btn-outline-secondary" id="Mybutton" title="Click to log out">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                                    <path d="M7.5 1v7h1V1h-1z" />
                                    <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                                </svg>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Main Section -->
    <main>
        @{
            ViewBag.HideMainSection = (string)ViewContext.RouteData.Values["Controller"] == "Statistics" ? true : false;
        }
        @if ((ViewBag.HideMainSection as bool? ?? false) == false)
        {
            <div class="main-section">
                <video autoplay muted loop id="myVideo">
                    <source src="/images/sky-1.mp4" type="video/mp4">
                </video>
            </div>
        }
        <div class="sidebar">
            @RenderBody()
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Footer Design -->
    <footer class="footer">
        <p>Copyright &copy; 2023 Designed by <span>MK</span></p>
    </footer>
    @await Html.PartialAsync("_NotificationPartial")
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        const hamburger = document.querySelector(".hamburger-container")
        const navMenu = document.querySelector(".list-container")

        hamburger.addEventListener("click", () => {
            hamburger.classList.toggle("active");
            navMenu.classList.toggle("active");
        })

        document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
            hamburger.classList.remove("active");
            navMenu.classList.remove("active");
        }))
    </script>
</body>
</html>

