<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Budget</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TravelBudget</title>
    <!-------- CSS Links -------->
    <link rel="stylesheet" href="~/css/TravelBudget_MainPage.css" />
    <link rel="icon" type="image/jpg" href="\images\Logo\Compass.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Index-View.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="logo-container">
            <img src="/images/Logo/Compass.jpg" class="logo-image" />          
        </div class= "logo-container">          
        <span>
            <label class="logo">TravelBudget</label>
        </span>
        <ul>
            <li style="margin-right: 40px; border-right: 3.5px solid darkgoldenrod;"><a class="a1" asp-controller="Statistics" asp-action="Statistics">Statistics</a></li>
            <li style="margin-right: 40px; border-right: 3.5px solid darkgoldenrod;"><a class="a1" asp-controller="Management" asp-action="ManageZone">Management</a></li>
            <li><a class="a1" asp-controller="Travel" asp-action="Create"> Create New Travel </a></li>
            <li><a class="a2" asp-controller="Travel" asp-action="Index"> Current Travels </a></li>
            <li><a class="a3" asp-controller="Travel" asp-action="History"> Travels History </a></li>
            <li id="buttonLi">             
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Welcome", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-outline-secondary" id="Mybutton" title="Click to log out">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16" >
                            <path d="M7.5 1v7h1V1h-1z" />
                            <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                        </svg>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
    <!-- Main Section --> 
    <main>
       @{
            ViewBag.HideMainSection = (string)ViewContext.RouteData.Values["Controller"] == "Statistics" ? true : false;
        }    
        @if ((ViewBag.HideMainSection as bool? ?? false) == false)
        { 
        <div class="main-section">
              <video autoplay muted loop id="myVideo">
                    <source src="/images/sky-1.mp4" type="video/mp4">
              </video>
        </div>
        }
        <div class="sidebar">          
            @RenderBody()
        </div>
    </main>
    <!-- Footer Design -->
    <footer class="footer">
        <p>Copyright &copy; 2023 Designed by <span>MK</span></p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

