<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/TravelsDetails-View.css" asp-append-version="true" />
</head>
<body class="content">
    <nav>
        <label class="title">Travel Details</label>
        <span class="right-content"><a href="~/Travel/Index" Id="return-link">Return</a></span>
    </nav>
    <div class="container">
        <main role="main" class="pb-300">
            @RenderBody()
        </main>
    </div>
</body>
</html>

