<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/TravelsHistory-View.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelBudget.styles.css" asp-append-version="true" />
</head>
<body class="content">
    <header id="header">
        <nav>
        <h1 id="h1">Travels History</h1>
            <ul class="navbar-nav navbar">
                <li class="nav-item">
                    <a href="~/TravelBudget/Index"> <button type="button" class="btn btn-dark btn-custom">Home Page</button></a>
                </li>        
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-300">
            @RenderBody()
        </main>
    </div>
</body>
</html>
